[Desktop Entry]
Version=1.0
Type=Application
Name=Gwyddion
Exec=/home/jovyan/gwyddion/VESTA-gtk3/VESTA
Path=/home/jovyan/gwyddion
Terminal=false
StartupNotify=false 
